.content_top{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 90%;
}

ul{
  width: 100%;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  padding-inline-start: 0px !important;
}

li{
  list-style: none;
}

.icon_block{
  height: 32px;
  margin-bottom:15px;
  border-radius: 5px;
  cursor:pointer;
  color:white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.icon_block2{
  border-radius: 5px;
  cursor:pointer;
  color:white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout{
width: 20px;
margin:20px;
margin-left: 0px;
}
